<body id="body-home" style="overflow-x: hidden;">
   <% if user_signed_in?  %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/prenotazioni">Prenotazioni</a>
            </li> 
            <li>
                <% if current_user.email=="doc2me.app@gmail.com"%>
                    <a  href="../doctors/sign_up">Registra medico</a>
                <%end%>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_user.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_user.cognome%></span>
                <span style="font-size:15px;">utente</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% elsif doctor_signed_in?%> 
     <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/prenotazioni">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_doctor.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_doctor.cognome%></span>
                <span style="font-size:15px;">dottore</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% else %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav">
            <li>
                <%= link_to "Home", {controller: "homepage",action:"show"} %>   
            </li>
            <li>
            <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a href="/FAQ">FAQ</a>
            </li>  
            <li id="but">
                <a href="<%= user_session_path%>">Login</a>
            </li>
        </ul>
        <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='<%= user_session_path%>'">login</button>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> 
    </nav>  
    <% end %>
 <div class="header" style="background-color: rgba(200, 250, 250, 0.63);">
        <br>
        <h1 style="margin-top: 3%;">Le visite in studio</h1>
        <div class="container" >
            <p>
                Il Team di Doc2me, composto da medici qualificati e competenti, vi aspettano allo studio di via
                Oslavia 14 per le vostre visite, prenotate qua sotto selezionando una data e un orario disponibile! <br>
                Il medico verrà avvisato immediatamente della vostra prenotazione. <br>
                Grazie per aver scelto Doc2me!
            </p>
        </div>
    </div>
  
    <div class="container disp">
        <div class="row">
            <div class="col-md-6 mx-auto card-disp" style="height:10%;">
                <div class="py-4 text-center">
                    <i class="fa fa-calendar fa-5x"></i>
                    <p style="padding-top: 2%; font-weight: bold; color: #04044c;">
                        Scegli la data in cui desideri effettuare la visita e verifica la disponibilità 
                        degli orari deve essere di tre righe  grazie a tutti per quel giorno!
                    </p>
                </div>

            <!-- Date Picker Input -->
            <%= form_with url: "/disponibilita", local: true do |f| %>
                <div class="form-group mb-4">
                    <div class="datepicker date input-group p-0 shadow-sm">
                        <% d = Date.today %>
                        <!-- <%= %> '=' necessario per prendere il valore effettivo della variabile data di oggi d e per poterla utilizzare -->
                        <input id="date" type="date" name="date" min=<%= d %> placeholder="data (yyyy-mm-dd)" class="form-control bg-white border-left-0 border-md" required>
                        
                    </div>
                </div>
           
                <div class="text-center">
                    
                    <div class="form-group col-lg-12 " id="disp">
                        <button type="submit" class="btn nav-mybutton" style="width: 100%;" >Scegli una data</button>
                    </div>
                </div>
            <% end %>

            </div>
            
            
            <div class="col-md-6 mx-auto" id="map-1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="200%" style="border:0; margin-top:2ch;" allowfullscreen="" loading="lazy"></iframe>
            </div>
           
            <div  class="col-lg-6 mx-lg-0 mx-auto card-disp" id="disp-container" style="margin-top: 1%; margin-bottom: 3%;">
                <% if @occupati == nil %>
                    <h5>Seleziona una data</h5>
                    <% flash.each do |type, msg| %>
                        <div class="alert alert-info" style="margin-top:10px; border-radius:10px">
                            <%= msg %>
                        </div>
                <%end%>
                <% else %>
                    <div class="rounded-0 border-0 shadow">
                        <div class=" p-5">
                            <div style="overflow-y: scroll;" >
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Orario</th>
                                            <th scope="col">Stato</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% for i in 9..18 do %>
                                        <% if @occupati.include?(i)  %>

                                        <tr>
                                            <th scope="row"><%= i %>:00</th>
                                            <td>Occupato</td>
                                        </tr>
                                        <% else %>
                                        <tr>
                                            <th scope="row"><%= i %>:00</th>
                                            <td>Disponibile</td>
                                        </tr>
                                        <% end %>
                                    <% end %>
                                        
                                    </tbody>
                                </table>
                                
                                <div id="richiedi1">
                                    <button type="button"class="nav-mybutton"  @click="showModal = true">richiedi</button>
                                    <!--vue js proprietà per transizione-->
                                    <transition name="slide" appear>
                                        <div class="modal modal3" v-if="showModal">
                                            
                                            <%= form_with scope: @visit, url: "/okservizi3", local: true do |f| %>
                                                <div class="row ">
                                    <!-- data e ora -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="date" type="date" name="date" placeholder="data (yyyy-mm-dd)" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="ora" type="time" min="08:00:00" max="20:00:00" name="ora" placeholder="ora" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    
                                    <!-- figlio -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="figlionome" type="text" name="figlionome" placeholder="nome paziente da visitare" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="figliocognome" type="text" name="figliocognome" placeholder="cognome paziente da visitare" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                </div>
                                <div style="margin-top: 3%; margin-left: 10%;">
                                    <button class="nav-mybutton" type="submit">Invia </button>
                                    

                                    <button class="nav-mybutton" @click="showModal = false" type="button">Esci</button>
                                </div>
                                            <% end %>
                                        </div>
                                    </transition>
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
            <div class="col-md-6 mx-auto" id="map-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="200vh" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>    
        </div>
    </div>   
  
    
    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Home</h4>
                    <ul class="ul-footer">
                        <li><a href="sos.html">go</a></li>
                        <li><a href="servizi.html">come funziona</a></li>
                        <li><a href="team.html">il team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>team</h4>
                    <ul class="ul-footer">
                        <li><a href="team.html">i nostri medici</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Servizi</h4>
                    <ul class="ul-footer">
                        <li><a href="disponibilita.html">le visite</a></li>
                        <li><a href="servizi.html">tariffe</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contatti</h4>
                    <ul class="ul-footer">
                        <li><a href="contatti.html">informazioni</a></li>
                        <li><a href="contatti.html">lavora con noi</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul class="ul-footer">
                        <li><a href="#">terms</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>dove siamo</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    document.getElementById('')
</script>
   <%= javascript_pack_tag 'popup.js' %>
   <%= javascript_pack_tag 'index.js' %>
   <%= javascript_pack_tag 'disp.js' %>
</body>
