<body id="body-home" style="overflow-x: hidden;">
   <% if user_signed_in?  %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">>Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="profilo-utente.html">Profilo</a>
            </li> 
            <li>
                <a  href="prenotazione.html">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_user.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_user.cognome%></span>
                <span style="font-size:15px;">utente</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% elsif doctor_signed_in?%> 
     <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="profilo-utente.html">Profilo</a>
            </li> 
            <li>
                <a  href="prenotazione.html">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_doctor.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_doctor.cognome%></span>
                <span style="font-size:15px;">dottore</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% else %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav">
            <li>
                <%= link_to "Home", {controller: "homepage",action:"show"} %>   
            </li>
            <li>
            <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a href="/FAQ">FAQ</a>
            </li>  
            <li id="but">
                <a href="<%= user_session_path%>">Login</a>
            </li>
        </ul>
        <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='<%= user_session_path%>'">login</button>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> 
    </nav>  
    <% end %>
    <h2 id="team-bio"><a href=team.html>Il team</a></h2>
    <div style="display: flex; flex-direction:column-reverse; height:10vh;">
        
    </div>
    <div class="fluid bio-name">  
        <h1 class="bio-name-h1" >Dottor. Augustin Cauchy</h1>
        <div class="bio-img2 bio-img"></div>
    </div>

    <div >
        <div class="bio-text container">
        <div >
           Nacque a Parigi il 21 agosto del 1789. Dopo aver ricevuto una precoce educazione da suo padre Louis François Cauchy (1760–1848), che aveva ricoperto incarichi pubblici minori e contava tra i suoi amici Lagrange e Laplace, Cauchy entrò all'École centrale du Panthéon nel 1802, all'École polytechnique nel 1805 ed infine all'École nationale des ponts et chaussées nel 1807, uscendone ingegnere di ponti e strade nel 1809. Esercitando questa professione, lasciò Parigi per Cherbourg nel 1810, ma ritornò nel 1813 per motivi di salute. Lagrange e Laplace lo persuasero a rinunciare all'ingegneria e a dedicarsi completamente alla matematica pura. Le sue indubbie qualità gli fruttarono le cattedre alla stessa École polytechnique, al Collège de France e alla Sorbona. Intransigente legittimista, nel 1830, rifiutò di giurare fedeltà agli Orléans e fu perciò costretto a lasciare l'insegnamento e a recarsi in esilio, prima in Svizzera poi a Torino come docente di fisica sublime all'università (1831).

Nel 1833 si trasferì a Praga in qualità di precettore del conte di Chambord, nipote di Carlo X. Grazie a questo ruolo, Cauchy ebbe la possibilità di viaggiare, scoprendo quanto bene i suoi lavori fossero stati accolti nella comunità scientifica. Carlo X lo nominò barone in ringraziamento per i suoi servigi. Ritornò in Francia nel 1838, dove prese ad insegnare in vari istituti religiosi, fino a quando, dispensato da Napoleone III dal giuramento alla repubblica, poté riprendere la cattedra di fisica matematica alla Facoltà di Scienze della Sorbona. Nel 1851, quando il giuramento fu reintrodotto in seguito al colpo di Stato, Cauchy e François Arago furono esonerati dal prestare giuramento. Morì a Sceaux, Seine, il 23 maggio del 1857.

Cauchy sposò nel 1818 Aloise de Bure, parente stretta dell'editore che pubblicò la maggior parte delle sue opere. Cauchy aveva due fratelli: Alexandre Laurent Cauchy (1792–1857), che divenne presidente d'una divisione della corte di appello nel 1847 e giudice della corte di cassazione nel 1849; e Eugène François Cauchy (1802–1877), pubblicitario che scrisse anche varie opere di matematica. Cauchy ebbe due figlie.

Gli studi.

Frontespizio di Leçons sur le calcul différentiel
Il genio di Cauchy è evidente nella sua semplice soluzione del problema di Apollonio, ovvero la descrizione di un cerchio che tocca altri tre cerchi dati che egli scoprì nel 1805, la generalizzazione della caratteristica di Eulero per i poliedri nel 1811, ed in molti altri problemi risolti elegantemente. Di grande importanza sono i suoi scritti sulla propagazione delle onde, grazie ai quali ottenne il Gran Prix dell'istituto nel 1816. I suoi più grandi contributi alla Matematica sono racchiusi nei metodi rigorosi che egli ha introdotto. Ciò si trova principalmente nei suoi tre grandi trattati: Cours d'analyse de l'École Polytechnique (1821); Le Calcul infinitésimal (1823); Leçons sur les applications de calcul infinitésimal; La géométrie (1826–1828); ed anche nel suo Courses of mechanics (per l'École Polytechnique), Higher algebra (per la Faculté des Sciences), e della Mathematical physics (per il Collège de France).

Cauchy scrisse numerosi trattati e pubblicò 789 scritti su giornali scientifici. Tali scritti coprono argomenti di grande importanza come la teoria delle serie (in cui sviluppò con grande perspicacia la nozione di convergenza), la teoria dei numeri e quantità complesse, la teoria dei gruppi e sostituzioni, la teoria delle funzioni, equazioni differenziali e determinanti. Egli chiarificò i principi del calcolo sviluppandoli con l'aiuto dei limiti e della continuità, fu il primo a provare rigorosamente il teorema di Taylor. In ottica, sviluppò una teoria delle onde, successivamente però risultata fisicamente insoddisfacente; al suo nome è associata la semplice formula di dispersione. In elasticità, ha iniziato la teoria dello stress, i suoi risultati hanno praticamente lo stesso valore di quelli di Simeon Poisson. Un altro contributo significativo è la dimostrazione del teorema del numero poligonale di Fermat. Ha creato il teorema dei residui e lo ha usato per derivare alcune delle più interessanti formule relative alle serie e agli integrali, fu anche il primo a definire i numeri complessi come una coppia di numeri reali. Ha anche scoperto molte formule basilari nella teoria delle q-series.

Nell'ambito della meccanica del continuo, delineò i fondamenti di un modello di corpo continuo, il continuo di Cauchy, che rappresenta ancora oggi una pietra miliare della scienza delle costruzioni. Nello sviluppo di tale teoria ideò molti dei suoi teoremi di analisi.

Cauchy è stato un autore molto prolifico: la raccolta di tutte le sue opere, Œuvres complètes d'Augustin Cauchy, ha richiesto 27 volumi e portano il suo nome vari enti matematici, ad es. successione di Cauchy, e numerosi teoremi dell'analisi. Il complesso delle sue attività lo collocano tra i più grandi matematici.

Nonostante fosse in genere rigoroso, Cauchy era molto avanti rispetto ai suoi contemporanei, così uno dei suoi teoremi fu smentito da un "contro-esempio" da parte di Abel, cosa che fu successivamente corretta grazie all'inclusione della continuità uniforme.

In uno scritto pubblicato nel 1855, due anni prima della sua morte, Cauchy discusse alcuni teoremi, uno dei quali è simile all'argomento principale in molti moderni testi di analisi complessa. Nei moderni testi di Controllo automatico, l'argomento principale è usato di frequente per derivare il criterio di stabilità di Nyquist, che può essere usato per predire la stabilità di un amplificatore con contro-reazione negativa o di un generico sistema di controllo con contro-reazione. Dunque il lavoro di Cauchy ha avuto un forte impatto sia sulla matematica pura che sulla ingegneria applicativa.

A Cauchy si devono alcuni dei primi studi sui gruppi di permutazioni e per questi viene considerato anche uno dei fondatori della teoria dei gruppi. Egli ottenne anche importanti risultati nella teoria dei numeri. Ottenne inoltre dei notevoli risultati nella teoria degli errori. In astronomia ottenne una trattazione più semplice del moto dell'asteroide Pallade.

In suo onore è stato battezzato il cratere Cauchy, sulla superficie della Luna.


        </div>
    </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Home</h4>
                    <ul class="ul-footer">
                        <li><a href="sos.html">go</a></li>
                        <li><a href="servizi.html">come funziona</a></li>
                        <li><a href="team.html">il team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>team</h4>
                    <ul class="ul-footer">
                        <li><a href="team.html">i nostri medici</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Servizi</h4>
                    <ul class="ul-footer">
                        <li><a href="disponibilita.html">le visite</a></li>
                        <li><a href="servizi.html">tariffe</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contatti</h4>
                    <ul class="ul-footer">
                        <li><a href="contatti.html">informazioni</a></li>
                        <li><a href="contatti.html">lavora con noi</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul class="ul-footer">
                        <li><a href="#">terms</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>dove siamo</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <%= javascript_pack_tag 'index.js' %>
    <%= javascript_pack_tag 'slide.js' %>
    <%= javascript_pack_tag 'bio.js' %>
