<body id="body-home" style="overflow-x: hidden;">
   <% if user_signed_in?  %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">>Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="profilo-utente.html">Profilo</a>
            </li> 
            <li>
                <a  href="prenotazione.html">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_user.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_user.cognome%></span>
                <span style="font-size:15px;">utente</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% elsif doctor_signed_in?%> 
     <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="profilo-utente.html">Profilo</a>
            </li> 
            <li>
                <a  href="prenotazione.html">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_doctor.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_doctor.cognome%></span>
                <span style="font-size:15px;">dottore</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% else %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav">
            <li>
                <%= link_to "Home", {controller: "homepage",action:"show"} %>   
            </li>
            <li>
            <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a href="/FAQ">FAQ</a>
            </li>  
            <li id="but">
                <a href="<%= user_session_path%>">Login</a>
            </li>
        </ul>
        <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='<%= user_session_path%>'">login</button>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> 
    </nav>  
    <% end %>
    <div style="display: flex; flex-direction:column-reverse;  margin-top: 12%;">
        <h2><a href=team.html  style="margin-left: 10%;font-weight: bold; color: rgb(27, 139, 105); text-decoration: none; font-family:Arial, Helvetica, sans-serif; font-size: 38px;">Il team</a></h2>
    </div>
    <div class="bio-name">  
        
        <h1 style="color: #04044c; font-weight: bold; margin-left: 38%;">Dottor. Brendan Eich</h1>
        <div class="bio-img7"></div>
    </div>
    <div >
        <div class="bio-text container">
        <div >
           Eich grew up in Pittsburgh; Gaithersburg, Maryland; and Palo Alto,[4] and he attended Ellwood P. Cubberley High School, graduating in the class of 1979. He received his bachelor's degree in mathematics and computer science at Santa Clara University,[4] and he received his master's degree in 1985 from the University of Illinois at Urbana–Champaign.[4]

He began his career at Silicon Graphics, working for seven years on operating system and network code.[7] He then worked for three years at MicroUnity Systems Engineering writing microkernel and DSP code.

Netscape and JavaScript
Eich started work at Netscape Communications Corporation in April 1995. Eich originally joined intending to put Scheme "in the browser",[8] but his Netscape superiors insisted that the language's syntax resemble that of Java. As a result, Eich devised a language that had much of the functionality of Scheme, the object-orientation of Self, and the syntax of Java. He completed the first version in ten days in order to accommodate the Navigator 2.0 Beta release schedule,[8][9] and was called Mocha, but renamed LiveScript in September 1995 and finally named JavaScript in December.[10] Eich continued to oversee the development of SpiderMonkey, the specific implementation of JavaScript in Navigator.[11]

Mozilla
In early 1998, Eich co-founded the free and open source software project Mozilla with Jamie Zawinski and others, creating the mozilla.org website, which was meant to manage open-source contributions to the Netscape source code. He served as Mozilla's chief architect.[12] AOL bought Netscape in 1999. After AOL shut down the Netscape browser unit in July 2003, Eich helped spin out the Mozilla Foundation.[13]

In August 2005, after serving as a lead technologist and as a member of the board of directors of the Mozilla Foundation, Eich became chief technical officer (CTO) of the newly founded Mozilla Corporation, meant to be the Mozilla Foundation's for-profit arm.[13] Eich continued to "own" the Mozilla SpiderMonkey module, its JavaScript engine, until he passed on the ownership of it in 2011.[11]

Appointment to CEO, controversy and resignation
On March 24, 2014, Mozilla made the decision to appoint Eich as CEO of Mozilla Corporation.[14][15][16] The appointment triggered widespread criticism due to Eich's past political donations[14][17][18][19] – specifically, a 2008 donation of $1,000 to California Proposition 8, which called for the banning of same-sex marriage in California,[1] and donations in the amount of $2,100 to Proposition 8 supporter Tom McClintock between 2008 and 2010.[20] The Wall Street Journal initially reported that, in protest against his coming appointment, half of Mozilla's board (Gary Kovacs, John Lilly, and Ellen Siminoff) stepped down,[21][22][23][24] leaving Mitchell Baker, Reid Hoffman, and Katharina Borchert.[25] CNET later reported that of the three board members who had left, only Lilly left due to Eich's appointment.[25] Lilly told The New York Times, "I left rather than appoint him", and declined to elaborate further.[26]

On March 26, 2014, Eich expressed "sorrow for causing pain" and pledged to "work with LGBT communities and allies" at Mozilla.[21][20] Some of the activists created an online campaign against Eich, with online dating site OkCupid automatically displaying a message to Firefox users with information about Eich's donation, and suggesting that users switch to a different browser (although giving them a link to continue with Firefox).[27][28][29] CREDO Mobile collected more than 50,000 signatures demanding that Eich resign.[16][30]

After 11 days as CEO, Eich resigned on April 3, 2014, and left Mozilla over his opposition to same-sex marriage.[31][2][32] In his personal blog, he posted, "under the present circumstances, I cannot be an effective leader".[3][33] Mozilla made a press release saying that board members tried to get Eich to stay in the company in a different role, but that he had chosen to sever ties for the time being.[34]

Brave Software
Eich is the CEO of Brave Software, an Internet browser platform company that raised $2.5 million in early funding from angel investors.[6] In January 2016, the company released developer versions of its open-source, Chromium-based Brave web browser,[35] which blocks ads and trackers.[36][37]

At Brave Software, Eich co-created the Basic Attention Token (BAT), a cryptocurrency designed for use in the Brave browser. BAT launched its ICO on May 31, 2017, and raised $35 million.[38]

The Brave Browser currently has more than 25 million active monthly users and more than 9.2 million daily users.[39
        </div>
    </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Home</h4>
                    <ul class="ul-footer">
                        <li><a href="sos.html">go</a></li>
                        <li><a href="servizi.html">come funziona</a></li>
                        <li><a href="team.html">il team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>team</h4>
                    <ul class="ul-footer">
                        <li><a href="team.html">i nostri medici</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Servizi</h4>
                    <ul class="ul-footer">
                        <li><a href="disponibilita.html">le visite</a></li>
                        <li><a href="servizi.html">tariffe</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contatti</h4>
                    <ul class="ul-footer">
                        <li><a href="contatti.html">informazioni</a></li>
                        <li><a href="contatti.html">lavora con noi</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul class="ul-footer">
                        <li><a href="#">terms</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>dove siamo</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <%= javascript_pack_tag 'index.js' %>
    <%= javascript_pack_tag 'slide.js' %>
