<body>
   <% if user_signed_in?  %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ" class="this">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_user.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_user.cognome%></span>
                <span style="font-size:15px;">utente</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% elsif doctor_signed_in?%> 
     <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ" class="this">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_doctor.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_doctor.cognome%></span>
                <span style="font-size:15px;">dottore</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% else %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav">
            <li>
                <%= link_to "Home", {controller: "homepage",action:"show"}  %>   
            </li>
            <li>
            <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti" >Contatti</a>
            </li>
            <li>
                <a href="/FAQ"class="this" >FAQ</a>
            </li>  
            <li id="but">
                <a href="<%= user_session_path%>">Login</a>
            </li>
        </ul>
        <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='<%= user_session_path%>'">login</button>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> 
    </nav>  
    <% end %>
<main>
<div>  
    <div id="maindiv-ped" class="container" >
        <br><br>
        <!--riga 1-->
        <div class="row" style="margin-top: 3%;">
            <div class="col-sm-6">
                <div class=" pedi p-4 my-auto jumbotron" id="cont1" style="background: linear-gradient(#2b95ec7c,white);"> 
                    <div id="cover-contatti1" style="margin-left:5vh; margin-top: 11%; margin-bottom: 10.5%; " >
                        <h3>Chi siamo</h3>
                        
                    </div>
                    <div class="pedi-info" id="show-contatti1" style="display: none;">
                        <h3>Chi siamo</h3> 
                        Doc2me è una piattaforma online per prenotazione e gestione di visite mediche svolte da medici professionisti.
                        Essa semplifica la comunicazione fra medico e paziente e offre tariffe fisse.<br>
                        Il team è composto da medici qualificati che aderendo alla piattaforma si rendono disponibili a ricevere le prenotazioni.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class=" pedi p-4 my-auto jumbotron" id="cont2" style="background: linear-gradient(#2b95ec7c,white);">  
                    <div id="cover-contatti2"  style="margin-left:5vh; margin-top: 11%; margin-bottom: 10.5%; height:4vh">
                        <h5 style="font-size:180%; margin-bottom:10ch;">I nostri obiettivi <br> <br></h5>
                        
                    </div>
                    <div class="pedi-info" id="show-contatti2" style="display:none;">
                        <h3>I nostri obiettivi</h3> 
                        Doc2me offre gli stessi servizi presenti in altri siti web del settore, con un layout più semplice e lineare, aggiungendo funzionalità non presenti su nessun 
                            altra piattaforma analoga, come la possibilità di pagare direttamente online o avere tariffe fisse per ogni visita e visualizzare un report di tutte le prenotazioni effettuate.

                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>   
   
   
   <!-- sezione faq-->
  <div class=" my-text" id="hanging-icons" style="width: 80%; margin-left:10%;margin-top:6%;">
     <h1 style="border-bottom:solid; border-color:#2b38ec;  text-align: center; "> Domande frequenti</h1>
     </div>
    <section id="faq" class="faq">
        <div class="row">
            <div class="accordion-container">
                <div class="accordion">
                
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Cos'è Doc2me?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Doc2me è una piattaforma online per la gestione e prenotazione di visite mediche. Crea il tuo account e potrai prenotare in pochi click! Doc2me risponde anche a casi d'urgenza velocizzando il contatto con i medici.</p>
                    </div>
                </div>
                
                <div class="accordion">
                <br>
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Chi sono i membri del team?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Un team di medici qualificati e con ottima esperienza è disponibile per ogni vostra richiesta con visite in studio, a domicilio o consulenze online. I medici stessi ti invieranno personalmente il referto medico al tuo indirizzo email! </p>
                    </div>
                </div>
    
                <div class="accordion">
                <br>
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Ho compilato il form, fra quanto riceverò una risposta?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Il form nella sezione Contatti ti permette di parlare direttamente con noi e di riflesso con i nostri medici! Scrivi per chiarimenti sul funzionamento del sito o per altri dubbi ,risponderemo in pochi giorni!</p>
                    </div>
                </div>
    
                <div class="accordion">
                <br>
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Qual'è il costo del servizio?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Una prerogativa di Doc2me è la chiarezza sui costi dei servizi offerti. I prezzi sono fissi per ogni tipologia di visita, vedi la sezione Servizi per maggiori info!</p>
                    </div>
                </div>
    
                <div class="accordion">
                <br>
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Doc2me che ruolo ha?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Doc2me sarà la tua interfaccia con i medici, puoi scrivere a noi per parlare con loro, prenotare visite e noi manterremo per te un report delle visite richieste!</p>
                    </div>
                </div>

                <div class="accordion">
                <br>
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Cosa devo fare per prenotare una visita?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Per casi d'urgenza puoi seguire sulla home la procedura d'emergenza cliccando sul bottone GO , se invece hai necessità di una visita in studio o a domicilio puoi registrarti e la sezione Servizi diventerà la tua pagina di riferimento!</p>
                    </div>
                </div>
                
                <div class="accordion">
                <br>
                    <div class="accordion-header">
                        <span>+</span>
                        <h3>Perchè dovrei registrarmi su Doc2me?</h3>
                    </div>
                    <div class="accordion-body">
                        <p>Dovresti registrarti su Doc2me perchè faciliterà le tue prenotazioni di visite mediche, avrai la possibilità in pochi minuti di entrare in contatto con un medico evitando lunghe attese! </p>
                    </div>
                </div>
    
            </div>
        </div>
   </main>
    
    <!-- fine sezione faq-->
    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Home</h4>
                    <ul class="ul-footer">
                        <li><a href="sos.html">go</a></li>
                        <li><a href="servizi.html">come funziona</a></li>
                        <li><a href="team.html">il team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Team</h4>
                    <ul class="ul-footer">
                        <li><a href="team.html">i nostri medici</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Servizi</h4>
                    <ul class="ul-footer">
                        <li><a href="disponibilita.html">le visite</a></li>
                        <li><a href="servizi.html">tariffe</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contatti</h4>
                    <ul class="ul-footer">
                        <li><a href="contatti.html">informazioni</a></li>
                        <li><a href="contatti.html">lavora con noi</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul class="ul-footer">
                        <li><a href="#">terms</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Dove siamo</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
   </footer>
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
   <%= javascript_pack_tag 'cont.js' %>
   <%= javascript_pack_tag 'index.js' %>
   <%= javascript_pack_tag 'jquery.js' %>
   <!--<script src="jquery.js"></script>-->
   
</body>