<script src="https://www.paypal.com/sdk/js?client-id=ASdq7iEyucp804GHdGDsuhL1htb1dVa39RFyDtYF5noSAIYc3l6_sLW0DtK3HGqLzl4GlChhdk-EBEle&currency=EUR"></script>

<body id="body-home" style="overflow-x: hidden;">
    <% if user_signed_in?  %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
             <li>
                <a  href="/prenotazioni" class="this">Prenotazioni</a>
            </li> 
            <li>
                <% if current_user.email=="doc2me.app@gmail.com"%>
                    <a  href="../doctors/sign_up">Registra medico</a>
                <%end%>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_user.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_user.cognome%></span>
                <span style="font-size:15px;">utente</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% elsif doctor_signed_in?%> 
     <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/prenotazioni" class="this">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_doctor.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_doctor.cognome%></span>
                <span style="font-size:15px;">dottore</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% else %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid",style:"margin-bottom:-10%;")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav">
            <li>
                <%= link_to "Home", {controller: "homepage",action:"show"} , class:"this"  %>   
            </li>
            <li>
            <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
                <a href="/servizi">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a href="/FAQ">FAQ</a>
            </li>  
            <li id="but">
                <a href="<%= user_session_path%>">Login</a>
            </li>
        </ul>
        <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='<%= user_session_path%>'">login</button>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> 
    </nav>  
    <% end %>

    <% if user_signed_in? %>
        <div class="container text-center" >
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto" style="margin-top: 7%; color: #04044c;">
                <h1>Le tue visite</h1>   
            </div>
        </div>
    </div>
    
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 card card-prenotazione" >
                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table table-fixed">
                    <thead>
                        <td>ID Visita</td>
                        <td>Figlio</td>
                        <td>Dottore</td>
                        <td>Stato Visita</td>
                        <td>Tipo Visita</td>
                        <td>Data</td>
                        <td>Ora</td>
                        <td>Annulla visita</td>
                    </thead>
                    <tbody>
                        <% @p.each do |visita| %>
                        <tr>
                        <td><%= visita.id %></td>
                        <td><%= Kid.where(:id=>visita.kid_id)[0][:name] %> <%= Kid.where(:id=>visita.kid_id)[0][:surname] %></td>
                        <td><%= Doctor.where(:id=>visita.doctor_id)[0][:nome] %> <%= Doctor.where(:id=>visita.doctor_id)[0][:cognome] %></td>
                        <td><%= visita.stato_visita %></td>
                        <td><%= visita.tipo_visita %></td>
                        <td><% if  visita.data_ora.day < 10%>0<% end %><%= visita.data_ora.day %>-<% if  visita.data_ora.month < 10%>0<% end %><%= visita.data_ora.month %>-<%= visita.data_ora.year %></td>
                        <td><% if  visita.data_ora.hour < 10%>0<% end %><%= visita.data_ora.hour %>:<% if  visita.data_ora.min < 10%>0<% end %><%= visita.data_ora.min %></td>
                        <td>
                        <% if visita.data_ora.strftime("%Y-%m-%d") > Date.today.strftime("%Y-%m-%d") && visita.stato_visita != 'pagata'%>
                                <%= link_to 'Annulla visita', servizi_path(visita.id , visita),
                                method: :delete,
                                data: { confirm: "Sei sicuro?" } %>
                            <% else %>
                                
                        <% end %>
	                    </td>
                        </tr>
                    <% end %>
                    </tbody>
                    </table>
                </div>
                <!-- End -->
            </div>
            <div class="container" style="display: flex; justify-content: center; align-items: center; ">
                    <a href="servizi.html"><button class="nav-mybutton  button-prenotazione">Prenota visita</button></a>
                    <!--Script for PayPal service -->
                    <script>
                                $(document).ready(function(){
                                paypal.Buttons({
                                env: 'sandbox',
                                createOrder: (data, actions) => {
                                var feffo = actions.order.create({
                                    purchase_units: [{
                                    description: "Prova Pagamento",
                                    amount: {
                                        value: '50.00'
                                    }
                                    }]
                                });
                                return feffo;  
                                },

                                onApprove: async (data, actions) => {
                                const or = await actions.order.capture();
                                const response = await fetch('capture_order', {
                                    method: 'POST',
                                    headers: {
                                    "Content-Type": "applicazione/json"
                                    }
                                }).then(function(){
                                    window.location.reload();
                                });

                                }
                                }).render('#paypal-button-container');
                                $('#openModal').click(function(){
                                $('#modal').fadeIn();
                                });
                                $('#closeModal').click(function(){
                                $('#modal').fadeOut();
                                });
                                                                                                    
                                                                                        
                                })
                    </script>
                    <% if @da_pagare != nil %>
                                <button type="button" class="nav-mybutton" style="margin-left:0.5%;"id="openModal">Pagamenti visite</button>
                                  <!--vue js proprietà per transizione-->
                                    <div class="modal modalPagamento" id="modal">
                                        <div id="paypal-button-container"></div>
                                        <button class="nav-mybutton" id="closeModal" style="margin-left:30%">Esci</button>
                                    </div>
                                
                            </div>
                        </div>
                    <% end%>
                    
                </div>
            </div> 
            </div>
            <div class="col-lg-8 mx-auto" style="color: #04044c; margin-bottom: 5%; margin-top: 2%;">
                <h5 style="text-align: center; color: #04044c; margin: 2%; font-weight:bold; ">- Paga con paypal o direttamente al medico in contanti</h5>
                <h5 style="text-align: center; color: #04044c; margin: 2%; font-weight:bold; ">- Prenota una nuova visita in qualsiasi momento</h5>
                <h5 style="text-align: center; color: #04044c; margin: 2%; font-weight:bold; ">- Annulla le visite da remoto in qualsiasi momento</h5>
            </div>
        </div>
    </div>
    <% else %>
        <div class="container text-center" >
        <div class="row pt-5">
            <div class="col-lg-8 mx-auto" style="margin-top: 7%; color: #04044c;">
                <h1>Le tue visite</h1>   
            </div>
        </div>
    </div>
    
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 card card-prenotazione" >
                <!-- Fixed header table-->
                <div class="table-responsive">
                    <table class="table table-fixed">
                    <thead>
                        <td>ID Visita</td>
                        <td>Figlio</td>
                        <td>Genitore</td>
                        <td>Stato Visita</td>
                        <td>Tipo Visita</td>
                        <td>Data</td>
                        <td>Ora</td>
                        <td>Annulla</td>
                    </thead>
                    <tbody>
                        <% @p.each do |visita| %>
                        <tr>
                        <td><%= visita.id %></td>
                        <td><%= Kid.where(:id=>visita.kid_id)[0][:name] %> <%= Kid.where(:id=>visita.kid_id)[0][:surname] %></td>
                        <td><%= User.where(:id=>visita.user_id)[0][:email] %></td>
                        <td><%= visita.stato_visita %></td>
                        <td><%= visita.tipo_visita %></td>
                        <td><% if  visita.data_ora.day < 10%>0<% end %><%= visita.data_ora.day %>-<% if  visita.data_ora.month < 10%>0<% end %><%= visita.data_ora.month %>-<%= visita.data_ora.year %></td>
                        <td><% if  visita.data_ora.hour < 10%>0<% end %><%= visita.data_ora.hour %>:<% if  visita.data_ora.min < 10%>0<% end %><%= visita.data_ora.min %></td>
                        <td>
                              <% if visita.data_ora.strftime("%Y-%m-%d") > Date.today.strftime("%Y-%m-%d") && visita.stato_visita != 'pagata'%>
                                <%= link_to 'Annulla visita', servizi_path(visita.id , visita),
                                method: :delete,
                                data: { confirm: "Sei sicuro?" } %>
                            <% else %>
                                
                        <% end %>
	                    </td>
                        </tr>
                    <% end %>
                    </tbody>
                    </table>
                </div>
                <!-- End -->
            </div>
            <div class="container">
                <div id="richiedi2">
                    <button type="button"class="nav-mybutton button-prenotazione"  @click="showModal = true">Modifica stato visita</button>
                      <!--vue js proprietà per transizione-->
                    <transition name="slide" appear>
                        <div class="modal modal4" v-if="showModal">
                            
                            <%= form_with scope: @visit, url: "/cambiastvis", local: true do |f| %>
                                <div class="row ">
                                    <!-- data e ora -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="tipo" type="text" name="idvisita" placeholder="id visita" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                </div>
                                <div style="margin-top: 3%; margin-left: 10%;">
                                    
                                    <button class="nav-mybutton" type="submit">Invia </button>
                                
                                    <button class="nav-mybutton" @click="showModal = false">Esci</button>
                                </div>
                            <% end %>
                        </div>
                    </transition>
                    <% flash.each do |type, msg| %>
                        <div class="alert alert-info" style="margin-top:10px; border-radius:10px">
                            <%= msg %>
                        </div>
                <%end%>
                </div>
            </div>

        </div>
    </div>
    <% end %>


    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Home</h4>
                    <ul class="ul-footer">
                        <li><a href="sos.html">go</a></li>
                        <li><a href="servizi.html">come funziona</a></li>
                        <li><a href="team.html">il team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>team</h4>
                    <ul class="ul-footer">
                        <li><a href="team.html">i nostri medici</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Servizi</h4>
                    <ul class="ul-footer">
                        <li><a href="disponibilita.html">le visite</a></li>
                        <li><a href="servizi.html">tariffe</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contatti</h4>
                    <ul class="ul-footer">
                        <li><a href="contatti.html">informazioni</a></li>
                        <li><a href="contatti.html">lavora con noi</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul class="ul-footer">
                        <li><a href="#">terms</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>dove siamo</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <%= javascript_pack_tag 'index.js' %>
    <%= javascript_pack_tag 'sos.js' %>
    <%= javascript_pack_tag 'opacita.js' %>
    <%= javascript_pack_tag 'popup.js' %>
   

    
