<body>
  <% if user_signed_in?  %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/">Home</a>
            </li>
            <li>
                <a href="/servizi" class="this">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/prenotazioni">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_user.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_user.cognome%></span>
                <span style="font-size:15px;">utente</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% elsif doctor_signed_in?%> 
     <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to "/" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to "/" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav logged-nav">
            <li>
                <a  href="/" >Home</a>
            </li>
            <li>
                <a href="/servizi" class="this">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a  href="/FAQ">FAQ</a>
            </li> 
            <li>
                <a  href="/profilo">Profilo</a>
            </li> 
            <li>
                <a  href="/prenotazioni">Prenotazioni</a>
            </li> 
            <li id="but-logged">
                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
            </li>
        </ul>
        <div style="display: flex;" class="logged-nav">
            <div style="margin-right: 10%; margin-top: 5%; color: #04044c; font-weight: bold;">    
                <span style="font-size:20px; text-transform:capitalize;"><%= current_doctor.nome%></span>
               <span  style="font-size:20px;text-transform:capitalize;"> <%= current_doctor.cognome%></span>
                <span style="font-size:15px;">dottore</span>
            </div>
            <div style=" margin-top: 5%" class="logged-nav">
                <!-- <%= link_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton"%>
                <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='index.html'">logout</button> -->
               <%= button_to 'Logout', destroy_user_session_path, :method => :delete  , class:"nav-mybutton" , type: "button" , id: "nav-mybutton" , style:"width:200%;height:6ch;"%>
            </div>
        </div>   
        <div class="burger" id="logged-burger"> 
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>    
    </nav>

    <% else %>
    <nav>
        <ul class="ul-nav-logo">
            <li>
                <div class="logo-image">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <%=image_tag("Icon Doctor.png", alt: "Example Image" , class:"img-fluid")%>
                    <% end %>
                 </div>
            </li>
            <li>
                <div  class="mylogo">
                    <%= link_to controller: "homepage",action:"show" do %>
                    <p> DOC2ME </p>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="ul-nav">
            <li>
                <%= link_to "Home", {controller: "homepage",action:"show"} %>   
            </li>
            <li>
            <!-- per il momento ho mappato servizi in /servizi poi vedremo -->
                <a href="/servizi" class="this">Servizi</a>
            </li>
            <li>
                <a href="/team">Il team</a>
            </li>
            <li>
                <a href="/contatti">Contatti</a>
            </li>
            <li>
                <a href="/FAQ">FAQ</a>
            </li>  
            <li id="but">
                <a href="<%= user_session_path%>">Login</a>
            </li>
        </ul>
        <button type="button"class="nav-mybutton" id="nav-mybutton" onclick="window.location.href='<%= user_session_path%>'">login</button>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div> 
    </nav>  
    <% end %>

    <div class="header" style="background-color: #b1c9ce;">
        <br>
        
        <h1 style="margin-top: 3%;">Servizi a tua disposizione</h1>
        <div class="container" >
            <p>
                Doc2me offre la possibilità ad utenti registrati di prenotare visite in studio o a domicilio e di richiedere una consulenza
                online con un medico. <br> Per urgenze torna alla home e clicca sul pulsante GO per metterti subito in contatto con un nostro medico. 
                <br> Se non sei utente Doc2me , registrati ora! <br>
                Scopri in basso come prenotare una visita!
            </p> 
        </div>
    </div>

    <section class="cards">
        <div class="card">
            <div class="card__copy">
                <div class="father-servizi">
                    <h2 style="color:  #04044c;">&nbsp&nbspConsulenze online&nbsp&nbsp</h2><br>
                </div>
                <p>
                    Richiedi una consulenza online con uno dei nostri medici.
                    Inserisci i dati richiesti ,scegli quando vuoi che la visita avvenga e invia la richiesta!
                </p>
                <% if user_signed_in?  %>
                <div id="richiedi1">
                    <button type="button"class="nav-mybutton"  @click="showModal = true">richiedi</button>
                      <!--vue js proprietà per transizione-->
                    <transition name="slide" appear>
                        <div class="modal modal1" v-if="showModal">
                            
                             <%= form_with scope: @visit, url: "/okservizi1", local: true do |f| %>
                                <div class="row ">
                                    <!-- data e ora -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="date" type="date" name="date" placeholder="data" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="ora" type="time" min="08:00:00" max="20:00:00" name="ora" placeholder="ora" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    
                                    <!-- figlio -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="figlionome" type="text" name="figlionome" placeholder="nome paziente da visitare" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="figliocognome" type="text" name="figliocognome" placeholder="cognome paziente da visitare" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                </div>
                                <div style="margin-top: 3%; margin-left: 10%;">
                                    <button class="nav-mybutton" type="submit">Invia </button>
                                    

                                    <button class="nav-mybutton" @click="showModal = false" type="button">Esci</button>
                                </div>
                           <% end %>
                        </div>
                    </transition>
                </div>
                
                <% else %> 
                <button type="button"class="nav-mybutton"  @click="showModal = true" onclick="window.location.href='/users/sign_in'">richiedi</button>
                <% end %><br>
                <% flash.each do |type, msg| %>
                        <div class="alert alert-info" style="margin-top:10px; border-radius:10px">
                            <%= msg %>
                        </div>
                <%end%>
                        
            </div>
        </div>
        <div class="card">
            <div class="card__copy">
                <div class="father-servizi">
                    <h2 style="color:  #04044c;">&nbsp&nbspVisite in studio&nbsp&nbsp</h2><br>
                </div>
                <p> 
                    Guarda le disponibilità nello studio di via Oslavia 14 per una visita con un nostro medico.
                    Scegli data ed ora disponibili e procedi per prenotare!

                 </p>
                <div >
                   <% if user_signed_in?  %>
                    <button type="button"class="nav-mybutton" onclick="window.location.href='disponibilita.html'">disponibilità</button>
                    <%else%>
                    <button type="button"class="nav-mybutton" onclick="window.location.href='/users/sign_in'">disponibilità</button>
                    <%end%><br><br>
                </div>
            </div>
        </div>
        <div class="card">
            
            <div class="card__copy">
                <div class="father-servizi">
                    <h2 style="color:  #04044c;">&nbsp&nbspVisite a domicilio&nbsp&nbsp</h2><br>
                </div>
                <p>
                    Richiedi una visita a domicilio con uno dei nostri medici. Inserisci il tuo indirizzo, il giorno, l'ora e attendi
                   la conferma per email dal medico!
                </p>
                <% if user_signed_in?  %>
                <div id="richiedi2">
                    <button type="button"class="nav-mybutton"  @click="showModal = true">richiedi</button>
                      <!--vue js proprietà per transizione-->
                    <transition name="slide" appear>
                        <div class="modal modal2" v-if="showModal">
                            
                            <%= form_with scope: @visit, url: "/okservizi2", local: true do |f| %>
                                <div class="row ">
                                    <!-- data e ora -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="date" type="date" name="date" placeholder="data" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="ora" type="time" name="ora" min="08:00:00" max="20:00:00" placeholder="ora" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <!-- inirizzo -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="indirizzo" type="text" name="indirizzo" placeholder="indirizzo" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <!-- figlio -->
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="figlio-nome" type="text" name="figlionome" placeholder="nome paziente da visitare" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                    <div class="input-group col-lg-12 mb-4">
                                        <input id="figlio-cognome" type="text" name="figliocognome" placeholder="cognome paziente da visitare" class="form-control bg-white border-left-0 border-md" required>
                                    </div>
                                </div>
                                <div style="margin-top: 3%; margin-left: 10%;">
                                    <button class="nav-mybutton" @click="showModal = false" type="submit">Invia </button>
                                    <button class="nav-mybutton" @click="showModal = false">Esci</button>
                                </div>
                            <% end %>
                        </div>
                    </transition>
                </div>
                <% else %> 
                <button type="button"class="nav-mybutton"  @click="showModal = true" onclick="window.location.href='/users/sign_in'">richiedi</button>
                <% end %><br>
                 <% flash.each do |type, msg| %>
                        <div class="alert alert-info" style="margin-top:10px; border-radius:10px">
                            <%= msg %>
                        </div>
                <%end%>
            </div>
        </div>
    </section>
    <%=image_tag("Online Doctor-amico.svg", alt: "Example Image" , style:"margin-left: 35%; width: 25%;")%>
    
    
    <div class=" my-text" id="hanging-icons" style="width: 80%; margin-left: 10%; ">
        <h1 style="border-bottom:solid; border-color: #2b38ec; font-size:xxx-large; margin-bottom: 2%;">Tariffe</h1>
        <div class="row" style=" margin-bottom: 4%;">
            <div class="col-md-4 ">
                <div style="display: flex;">
                    <%=image_tag("cmp.svg", alt: "Example Image" , style:"width: 10ch;")%>
                    <h2 style="margin-top: 7%; margin-left: 0.5%;">&nbsp Visite online</h2>
                </div>
                <div>
                    <p>Doc2me offre la possibilità di richiedere consulenze online con i nostri medici al prezzo fisso di <font size=4 style="color:#2b38ec;">  €50</font>.<br>
                    Nel caso avessi la necessità di svolgere in seguito una visita a domicilio o in studio avrai uno sconto del 50%!</p>
                </div>
            </div>
            <div class="col-md-4 " >
                <div style="display: flex;">
                    <%=image_tag("hospital.svg", alt: "Example Image" , style:"width: 10ch;")%>
                    <h2 style="margin-top: 7%; margin-left: 0.5%;">&nbsp Visite in studio</h2>
                </div>
                <div>
                    <p>Doc2me permette di richiedere visite nello studio medico di via Oslavia 14 al prezzo fisso di <font size=4 style="color:#2b38ec;">  €80</font>.<br>
                    Verrai visitato da uno dei nostri medici qualificati e potrai pagare anche direttamente al medico! </p>
                </div>
            </div>
            <div class="col-md-4  " >
                <div style="display: flex;">
                    <%=image_tag("casa-2.svg", alt: "Example Image" , style:"width: 10ch;")%> 
                    <h2 style="margin-top: 7%; margin-left: 0.5%;">&nbsp Visite a domicilio</h2>
                </div>
                <div>
                <p>Doc2me porta i suoi medici professionisti fino a casa vostra per una visita ad un prezzo fisso di <font size=4 style="color:#2b38ec;">   €80</font>.<br>
                Dopo aver inviato la richiesta di visita un nostro medico sarà subito allertato!</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class=" footer">
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Home</h4>
                    <ul class="ul-footer">
                        <li><a href="sos.html">go</a></li>
                        <li><a href="servizi.html">come funziona</a></li>
                        <li><a href="team.html">il team</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>team</h4>
                    <ul class="ul-footer">
                        <li><a href="team.html">i nostri medici</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Servizi</h4>
                    <ul class="ul-footer">
                        <li><a href="disponibilita.html">le visite</a></li>
                        <li><a href="servizi.html">tariffe</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contatti</h4>
                    <ul class="ul-footer">
                        <li><a href="contatti.html">informazioni</a></li>
                        <li><a href="contatti.html">lavora con noi</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>FAQ</h4>
                    <ul class="ul-footer">
                        <li><a href="#">terms</a></li>
                        <li><a href="#">privacy policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>dove siamo</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3542.859591124094!2d12.460394874597359!3d41.91713546609034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f60f31b74c16d%3A0xeb24764bd52036eb!2sVia%20Oslavia%2C%2014%2C%2000195%20Roma%20RM!5e0!3m2!1sit!2sit!4v1619522626225!5m2!1sit!2sit" width="100%" height="50%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
   <%= javascript_pack_tag 'index.js' %>
   <%= javascript_pack_tag 'popup.js' %>
</body>
