<!DOCTYPE html>
<html>
  <head>
    <title>Doc2me</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  
  

  <%= yield %>

    <% if user_signed_in? %>
      CIAO <%= current_user.nome%> 
      <br>
      EMAIL <%= current_user.email%> 
      [<%= link_to 'Logout', 
      destroy_user_session_path, :method => :delete%>]
    <% end %>

    <% if doctor_signed_in?%>
      ciao dottore <%= current_doctor.nome%>
      <br>
      EMAIL <%= current_doctor.email%> 
      [<%= link_to 'Logout', 
      destroy_doctor_session_path, :method => :delete%>]

    <%end%>

  

  <% flash.each do |type, msg| %>
  <div>
    Notification: <%= msg %>
  </div>
  <% end %>
</html>
